$icomoon-font-path: "fonts" !default;

$sidecar-icon-back: "\2b05";
$sidecar-icon-forward: "\27a1";
$sidecar-icon-dropdown: "\1f53d";
$sidecar-icon-x: "\78";
$sidecar-icon-bookmark: "\e90d";
$sidecar-icon-bookmarkfilled: "\1f516";
$sidecar-icon-calendar: "\1f4c5";
$sidecar-icon-search: "\1f50e";
$sidecar-icon-plus: "\2b";
$sidecar-icon-minus: "\2013";
$sidecar-icon-eye: "\1f441";
$sidecar-icon-hide: "\1f648";
$sidecar-icon-pin: "\1f4cd";
$sidecar-icon-female: "\2640";
$sidecar-icon-male: "\2642";
$sidecar-icon-filter: "\e918";
$sidecar-icon-filtered: "\e919";
$sidecar-icon-flash: "\26a1";
$sidecar-icon-flashoff: "\e91c";
$sidecar-icon-photos: "\1f5bc";
$sidecar-icon-menu: "\2630";
$sidecar-icon-processing: "\1f504";
$sidecar-icon-share: "\23";
$sidecar-icon-trash: "\1f5d1";
$sidecar-icon-lock: "\1f512";
$sidecar-icon-approve: "\1f44d";
$sidecar-icon-deny: "\1f44e";
$sidecar-icon-export: "\23ec";
$sidecar-icon-upload: "\23eb";
$sidecar-icon-email: "\1f4e7";
$sidecar-icon-phone: "\1f4de";
$sidecar-icon-edit: "\270f";
$sidecar-icon-columns: "\25a5";
$sidecar-icon-segment: "\2325";
$sidecar-icon-drag: "\22ee";
$sidecar-icon-account: "\1f468";
$sidecar-icon-pivot: "\25f0";
$sidecar-icon-dashboard: "\1f3e0";
$sidecar-icon-expense: "\1f4c3";
$sidecar-icon-lead: "\1f3af";
$sidecar-icon-money: "\1f4b5";
$sidecar-icon-creditcard: "\1f4b3";
$sidecar-icon-customer: "\1f464";
$sidecar-icon-reports: "\1f4ca";
$sidecar-icon-settings: "\2699";
$sidecar-icon-dermatology: "\e934";
$sidecar-icon-doctors: "\1f637";
$sidecar-icon-dentist: "\1f444";
$sidecar-icon-rx: "\1f48a";
$sidecar-icon-injury: "\1f915";
$sidecar-icon-sick: "\1f321";
$sidecar-icon-spine: "\1f356";
$sidecar-icon-cardio: "\2665";
$sidecar-icon-vision: "\1f440";
$sidecar-icon-cancer: "\1f397";
$sidecar-icon-baby: "\1f476";
$sidecar-icon-ambulance: "\1f691";
$sidecar-icon-foot: "\1f463";
$sidecar-icon-procedure: "\1f3e5";
$sidecar-icon-genetics: "\22c8";
$sidecar-icon-brain: "\1f4ad";
$sidecar-icon-lab: "\2697";
$sidecar-icon-imaging: "\2620";
$sidecar-icon-vaccine: "\1f489";
$sidecar-icon-research: "\1f52c";
$sidecar-icon-error: "\21";
$sidecar-icon-success: "\2705";
$sidecar-icon-warning: "\26a0";
$sidecar-icon-cancel: "\274c";
$sidecar-icon-tooltip: "\3f";

