/* @font-face {
  font-family: 'apercu-regular-pro';
  src: url('../../fonts/apercu-regular-pro.eot');
  src: url('apercu-regular-pro.eot?#iefix') format('embedded-opentype'),
       url('apercu-regular-pro.woff') format('woff'),
       url('apercu-regular-pro.woff2') format('woff2'),
       url('apercu-regular-pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

.newModal {
  background: white;
  width: 1000px;
  height: 639px;
  margin: 50px auto;
}

.header {
  font-family: 'apercu-regular-pro', Fallback, sans-serif;
  font-size: 36px;
  color: #223D68;
  padding: 65px 30px 30px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

hr {
  height: 1px;
  width: 1000px;
  background-color: #AAAAAA;
  border:none;
  margin: 0px;
}

.newAccountInfo {
  width: 600px;
  margin: 40px auto 0;
}

.newModalInput {
  height: 60px;
  width: 600px;
  border: 1px solid #AAAAAA;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  font-family: 'apercu-regular-pro', Fallback, sans-serif;
  font-size: 22px;
  padding: 3px 0px 0px 21px;
  &:focus {
    border: 2px solid #64C5AF;
  }
}

.firstName {
  width: 285px;
  margin-right: 15px;
}

.lastName {
  width: 285px;
  margin-left: 15px;
}

input.newModalInput::placeholder {
  color: #64C5AF;
}

.addButton {
  text-align: center;
  height: 50px;
  width: 200px;
  border-radius:5px;
  background-color: #64C5AF;
  color: white;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  border: none;
}