.newModal {
  background: white;
  width: 1000px;
  height: 639px;
  margin: 50px auto;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}