td {
  text-align: right;
  font-size: 18px;
  font-family: 'apercu-regular-pro', Fallback, sans-serif;
  padding: 11px 0 30;
}

.firstCol {
  text-align: left;
  padding: 11px 0 15px;
}

.name {
  font-size: 12px;
}

.acctRow{
  border-bottom: 1px solid #AAAAAA;
}

.sidecarIconEdit:before {
  content: "\270f";
  color: #64C5AF;
  font-size: 22px;
  cursor: pointer;
}

.editIcon {
  text-align: center;
}

.name {
  text-transform: uppercase;
}